# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user

# This is used for website deployment
.site.tar

# ignore html files in directories except for build
develop/*html
use/*html
install/*html

# ignore derivative directories and files
develop/*_files/
use/*_files/
install/*_files/

# ignore .Renviron file
.Renviron

# ignore OSX Desktop Services files
.DS_Store
