# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# ignore files from building the pages
*.Rmd
*.md
*.yaml
*.yml
Makefile
Dockerfile
*.patch
.site.tar
